/* #536895
#d3003f 
#31436b
 */


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    
    font-family: 'Poppins', sans-serif;
    
    font-size: 1.8rem;   
}

 .header {
    background-color: #d3003f ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 4000;
    
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.nav-ul {
    display: inline-flex;
    list-style: none;
    padding: 2rem;
}
.nav-ul li a {
     text-decoration: none;
     color: #fff;
     padding: 3rem;
     font-size: 2.3rem;   
}
.nav-ul li a:hover {
    background-color: #31436b;
    padding: 2.1rem;
}
#welcome-section {
    background-image: linear-gradient(to right bottom, rgb(78, 78, 78), #000);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
     
}
.heading {
  color: #fff;
  text-align: center;
  padding-top: 28rem;
  margin: 0 auto; 
}
.heading__1 {
    font-size: 5.6rem;
    letter-spacing: .4rem;
}
.heading__2{
    color: #d3003f;
    font-family: 'Metal', cursive;
    font-weight: 100;
    letter-spacing: .1rem;
    font-size: 3.5rem; 
}
#projects {
    background-color: #31436b;
    margin-top: -20rem;
    text-align: center;
    padding-bottom: 12rem;
    
    
    
}
.heading-3 {
    color: #fff;
    text-align: center;
    font-size: 3.6rem;
    padding-top: 22rem;
    text-decoration: underline;
    text-underline-offset: 1.2rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5.2rem 2rem;
    width: 75%;
    margin: 0 auto;
    margin-top: -3rem;
    
}
.column {
    flex: 32%;
    padding: 5.2rem 2rem;
    margin: 0 auto;
    transition: all .3s;
    
}
.column img {
    height: 100%;
    box-shadow: 1rem 2rem 3rem #000;
    
}
.column:hover {
    transform: translateY(-2rem) scale(1.05);
}
.caption {
    background-color: rgb(58, 58, 58);
    color: #fff;
    width: 100%;
    padding: 2rem;
    text-align: center;
    margin-top: -1rem;
    box-shadow: 1rem 2rem 3rem #000;
    
}
.project-tile a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
    display: inline-block;
    margin: 6rem;

}
#contact-section {
    background-image: linear-gradient(to right bottom, rgb(46, 44, 44), #000);
    height: 90vh;
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 100%);
    margin-top: -15rem;
    
}  
