/* #536895
#d3003f 
#31436b
 */


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.8rem;   
}

 .header {
    background-color: #d3003f ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.nav-ul {
    display: inline-flex;
    list-style: none;
    padding: 2rem;
}
.nav-ul li a {
     text-decoration: none;
     color: #fff;
     padding: 3rem;
     font-size: 2.3rem;   
}
#welcome-section {
    background-image: linear-gradient(to right bottom, rgb(70, 69, 69), rgb(12, 12, 12));
    height: 100vh;
     
}
.heading {
  color: #fff;
  text-align: center;
  padding-top: 28rem;
  margin: 0 auto; 
}
.heading__1 {
    font-size: 5.6rem;
}
.heading__2{
    color: #d3003f;
    font-family: 'Metal', cursive;
    font-weight: 100;
    letter-spacing: .1rem;
    font-size: 3.5rem;
    
}